* {
    border: 1px solid black;
}

body {
    display: grid;
    width: 1000px;
    height: 600px;
    grid-template-areas: "header header" "widget envelopes" "response envelopes" "footer footer";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr 3fr 0.5fr;
}

header {
    grid-area: header;
}

.widget {
    grid-area: widget;
}

.envelopes {
    grid-area: envelopes;
}

.response {
    grid-area: response;
}

footer {
    grid-area: footer;
}

input {
    width: 25%;
}

button {
    background-color: yellow;
    margin-left: 15px;
}

label {
    border-style: hidden;
    font-weight: bold;
    height: 100px;
    padding: 5px;
}

#response-display {
    width: 100%;
    height: 100%;
    text-align: center;
}

.container {
    display: grid;
    justify-items: space-around;
    align-items: center;
    border: dashed purple 3px;
    /* height: 200px;
    width: 400px;
    display: flex;
    flex-wrap: wrap; */
}

.container div {
    justify-items: center;
    /* width: 100%;
    padding: 10px; */
}

#envelope-display div {

}